[Desktop Entry]
Name=VNFap
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=vnfap %u
Icon=vnfap
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;
StartupWMClass=vnfap

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=vnfap %u
