[Desktop Entry]
Name=VNFapURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/vnfap;
TryExec=vnfap
Exec=vnfap %u
Icon=vnfap
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=vnfap
